@using Microsoft.AspNetCore.Mvc.TagHelpers
@model eStoreOnline.Application.Models.Products.GetAllProductModel;

<div class="col-6 col-sm-6 col-md-4 col-lg-3 grid-view-item style2 item">
    <div class="grid-view_image">
        <!-- start product image -->
        <a href="/Product/Detail/@Model.UrlSlug" class="grid-view-item__link">
            <img class="grid-view-item__image primary blur-up lazyload" data-src="@Model.ImageUrl" src="@Model.ImageUrl" alt="image" title="product"/>
            <img class="grid-view-item__image hover blur-up lazyload" data-src="@Model.ImageUrl" src="@Model.ImageUrl" alt="image" title="product"/>
        </a>
        <!-- end product image -->

        <!--start product details -->
        <div class="product-details hoverDetails text-center mobile">
            <!-- product name -->
            <div class="product-name">
                <a href="#">@Model.ProductName</a>
            </div>
            <!-- End product name -->
            <!-- product price -->
            <div class="product-price">
                <span class="price">$ $@Model.Price.ToString("0.00")</span>
            </div>
            <!-- End product price -->

            <!-- product button -->
            <div class="button-set">
                <form action="#" method="post">
                    <button class="btn btn--secondary cartIcon btn-addto-cart" type="button" data-product-id="@Model.Id">
                        <i class="icon anm anm-bag-l"></i>
                    </button>
                </form>
           
            </div>
            <!-- End product button -->
        </div>
        <!-- End product details -->
    </div>
</div>