@using eStoreOnline.Infrastructure.Extensions
@model eStoreOnline.Application.Models.PaginatedModel<eStoreOnline.Application.Models.Orders.OrderModel>

@{
    ViewBag.Title = "Orders";
}

<h1>Orders</h1>

<div class="card p-2">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Number</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Order Date</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Status</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Price</th>
                <th class="text-secondary opacity-7"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in Model.Data)
            {
                <tr>
                    <td>
                        <span>@order.Id</span>
                    </td>
                    <td class="align-middle text-center">
                        <span>@order.OrderNumber</span>
                    </td>
                    <td class="align-middle text-center">
                        <span>@order.OrderDate.ToString("dd MMM yyyy")</span>
                    </td>
                    <td class="align-middle text-center">
                        <span>@order.OrderStatus</span>
                    </td>
                    <td class="align-middle text-center">
                        <span>@order.TotalPrice.ToMoney()</span>
                    </td>
                    <td class="align-middle">
                        <a asp-action="Detail" asp-route-id="@order.Id" class="btn btn-outline-info m-0" data-toggle="tooltip" data-original-title="Edit product">
                            View
                        </a>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination float-end">
                            @if (Model.PageIndex > 0)
                            {
                                <li class="page-item">
                                    <button class="page-link" aria-label="Previous" data-page="@(Model.PageIndex)">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </button>
                                </li>
                            }

                            @foreach (var item in Model.Pages)
                            {
                                if (item == "...")
                                {
                                    <li class="page-item">
                                        <button class="page-link" href="#">@item</button>
                                    </li>
                                }
                                else
                                {
                                    @if (item == (Model.PageIndex + 1).ToString())
                                    {
                                        <li class="page-item active">
                                            <button class="page-link " href="#">@item</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <button class="page-link" data-page="@item">@item</button>
                                        </li>
                                    }
                                }
                            }

                            @if (Model.PageIndex < Model.TotalPages - 1)
                            {
                                <li class="page-item">
                                    <button class="page-link" aria-label="Next" data-page="@(Model.PageIndex + 2)">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </button>
                                </li>
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>