@using eStoreOnline.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model eStoreOnline.Application.Models.Products.GetProductDetailModel
@{
ViewBag.Title = "Product Detail";
Layout = "_eStoreTemplate";
}

<div id="ProductSection-product-template" class="product-template__container prstyle2 container">
    <!--#ProductSection-product-template-->
    <div class="product-single product-single-1">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="product-details-img product-single__photos bottom">
                    <div class="zoompro-wrap product-zoom-right pl-20">
                        <div class="zoompro-span">
                            <img class="blur-up lazyload zoompro" data-zoom-image="@Model.ImageUrl" alt="" src="@Model.ImageUrl"/>
                        </div>

                    </div>
                </div>
                <!--Product Feature-->

                <!--End Product Feature-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="product-single__meta">
                    <h1 class="product-single__title">@Model.ProductName</h1>

                    <div class="prInfoRow">
                        <div class="product-sku">SKU: <span class="variant-sku">@Model.Sku</span></div>
                    </div>
                    <p class="product-single__price product-single__price-product-template">
                        <span class="visually-hidden">Regular price</span>
                        <span id="ComparePrice-product-template">
                            <span class="money">$@Model.Price.ToMoney()</span>
                        </span>
                    </p>
                    <div class="product-single__description rte">
                        <p>@Model.ShortDescription</p>
                    </div>
                    <form method="post" action="#" accept-charset="UTF-8" class="product-form product-form-product-template hidedropdown">
                        <!-- Product Action -->
                        <div class="product-action clearfix">
                            <div class="product-form__item--quantity">
                                <div class="wrapQtyBtn">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);">
                                            <i class="fa anm anm-minus-r" aria-hidden="true"></i>
                                        </a>
                                        <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);">
                                            <i class="fa anm anm-plus-r" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-form__item--submit">
                                <button type="button" name="add" class="btn product-form__cart-submit">
                                    <span>Add to cart</span>
                                </button>
                            </div>
                        </div>
                        <!-- End Product Action -->
                    </form>
                </div>
                <!--Product Tabs-->
                <div class="tabs-listing">
                    <div class="tab-container">
                        <h3 class="acor-ttl active" rel="tab1">Product Details</h3>
                        <div id="tab1" class="tab-content">
                            <div class="product-description rte">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Product Tabs-->
            </div>
        </div>
        <!--End-product-single-->

    </div>
    <!--#ProductSection-product-template-->
</div>