@using eStoreOnline.Infrastructure.Extensions
@model eStoreOnline.Application.Models.PaginatedModel<eStoreOnline.Application.Models.Orders.OrderModel>

@{
    ViewBag.Title = "Orders";
}

<h2>Order History</h2>

<div class="container-fluid p-0">
    <div class="row justify-content-center mr-3">
        @if (Model.Data.Count == 0)
        {
            <div>You don't have any orders yet.</div>
        }
        else
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Order Number</th>
                        <th class="text-center">Order Date</th>
                        <th class="text-right">Status</th>
                        <th class="text-center">Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                            <td class="cart__meta small--text-left cart-flex-item">
                                <div class="list-view-item__title">
                                    <a href="/Order/Detail/@item.Id">
                                    @item.OrderNumber
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    <span class="money total-col">@item.OrderDate.ToString("dd MMM yyyy")</span>
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    <span class="total-col">@item.OrderStatus</span>
                                </div>
                            </td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <div class="text-right">
                                    <span class="money">$@item.TotalPrice.ToMoney()</span>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.PageIndex > 1)
                        {
                            <li class="page-item">
                                <a class="page-link p-0" href="/Order/@(Model.PageIndex - 1)">&lt;</a>
                            </li>
                        }
                        @foreach (var item in Model.Pages)
                        {
                            if (item == "...")
                            {
                                <li class="page-item">
                                    <a class="page-link p-0" href="#">@item</a>
                                </li>
                            }
                            else
                            {
                                @if (item == @Model.PageIndex.ToString())
                                {
                                    <li class="page-item active">
                                        <a class="page-link p-0" href="/Order/@item">@item</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link p-0" href="/Order/@item">@item</a>
                                    </li>
                                }
                            }
                        }
                        @if (Model.PageIndex < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link p-0" href="/Order/@(Model.PageIndex + 1)">&gt;</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }

    </div>
</div>